config.h
config.log
config.status
Makefile
doc/Fdutils.*
doc/fdutils.info
doc/texi-linearize
src/*.a
src/*.o
src/convertfdprm
src/diskd
src/diskseek
src/diskseekd
src/fdmount
src/fdrawcmd
src/floppycontrol
src/floppymeter
src/getfdprm
src/setfdprm
src/superformat
src/xdfcopy
